/bower_components/
/nbproject/
/node_modules/

/includes/*
!/includes/*.php
!/includes/*.inc
!/includes/*.sql
/includes/autoload.php
/includes/password*.inc

/build/
/ssh.json

/include/settings.inc
/sloc.csv
/filelist.txt